.product .badge{
    margin-left:5px;
    background-color:#aced68;
}
.product-image{
    width:100%;
}
.price::before{
    content:"\0024";
    color:inherit;
    display:"inline-block";
    padding-right:5px;
}
.price-filter::before{
    padding-right:initial;
}
.product-price{
    font-size:18px;
    padding:5px;
    padding-left:0;
}
.product .badge{
    margin-left:5px;
}
.product-description .price{
    font-size:150%;
}
.number{
    max-width:80px;
}
.product-row{
    margin-bottom: 20px;
}
.product-pagination{
    text-align:center;
}
/*image selector in add product*/
.server-gallery-container{
    overflow-x:auto;
}
.server-gallery{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
}
.server-image{
    width:80px;
    display:inline-block;
    border:5px solid transparent;
}
.server-image-selected{
    border:5px solid yellow;
    position:relative;
}
.detail-form .quantity{
    width:60px;
}

.shop-buttons{
    text-decoration:none;
    color:inherit;
    min-height: 36px;
    /*padding:0 5px;*/
    /*font-size:18px;*/
}
.shop-buttons:hover{
    text-decoration: none;
    color:inherit;
}
/*alert shown to users*/
.site-alert{
    min-width:400px;
    max-width:640px;
    position: absolute;
    top:50px;
    left:50%;
    transform:translateX(-50%);
}
.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}

.quantity{
    max-width: 65px;
}
.wish-delete,.wish-buy{
    display:inline-block;
}
.cart-price{
    font-size:18px;
}